@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap");

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
  font-weight: 600 !important;
}
nav {
  backdrop-filter: blur(25px);
  background-image: linear-gradient(
    to right,
    rgba(139, 210, 255, 0.5),
    rgba(106, 165, 248, 0.4)
  );
}
a,
p,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
  color: #0c62aa !important;
}
h1 {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 55px;
  color: #0c62aa !important;
}
.head {
  background-color: aliceblue;
  width: fit-content;
  opacity: 0.8;
}

body {
  background-color: rgb(225, 254, 255);
}
nav.stroke :after {
  position: absolute;
  bottom: 0;
  font-weight: 600 !important;
  left: 0;
  border-radius: 25px;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #0c62aa;
  height: 4px;
  opacity: 1;
}
.pri {
  border-bottom: 2px solid #0c62aa;
}

nav.stroke ul li a:hover:after {
  width: 100%;
  transition: all ease-in-out 0.4s;
}
.home_top_content {
  height: 80vh !important;
  color: #0c62aa !important;
}
.home_top::before {
  content: "";
  background-image: linear-gradient(
      rgba(162, 159, 159, 0.1),
      rgba(111, 110, 110, 0.05)
    ),
    url("https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg?w=2000");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  height: 80vh;
  z-index: -3;
  border-end-end-radius: 35%;
  /* border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%; */
}
.home_button {
  border-radius: 35px !important;
  border: 2px solid #0c62aa;
  font-weight: bold;
  color: #0c62aa !important;
}
.home_button:hover {
  transition: all 1s;
  transform: rotateY(360deg);
  border-radius: 35px !important;
  background-color: #0c62aa !important;
  color: rgb(255, 255, 255) !important;
}
.main {
  background-color: #c5f6fa;
  border-radius: 60% 40% 30% 30%;
}

.footer-32892 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVCLWEnb5RzmjyOBwpzhYYmAEkeiCLzFZsxA&usqp=CAU");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  z-index: -3;
  border-top-right-radius: 35%;
}
.uphill {
  color: rgb(255, 183, 0);
}
.footer_buttons {
  border: 2px solid #0c62aa;
}
.footer_buttons:hover {
  background-color: #0c62aa;
}
.footer_buttons i:hover {
  color: white;
}
.uphill:hover {
  color: white;
}
