nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  font-weight: 600!important;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: red;
  height: 4px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
  transition: all 1s;
}
